.legacy {
    h1 {
        font-family: 'EB Garamond',
            'Cormorant Garamond',
            'Adobe Garamond',
            'Garamond',
            Times,
            serif;
        font-weight: 400;
        line-height: 1.26;
        letter-spacing: .017em;
        word-spacing: 0.02em;
    }

    .cameraGen {
        grid-template: repeat(5, 1fr) / repeat(5, 1fr);

        img {
            max-width: 100%;

            /* d60 */
            &:nth-of-type(1) {
                grid-row: 1 / span 2;
                grid-column: 2 / span 2;
            }

            /* d5000 */
            &:nth-of-type(2) {
                grid-row: 2 / span 2;
                grid-column: 3 / span 2;
            }

            /* d7500 */
            &:nth-of-type(3) {
                grid-row: 3 / span 2;
                grid-column: 2 / span 2;
            }

            /* z7ii */
            &:nth-of-type(4) {
                grid-row: 4 / span 2;
                grid-column: 3 / span 2;
            }
        }
    }
}